.btn-hour {
	position: relative;
    text-align: left;
    background-color: #fff;
    width: 100%;
    border: none;
    margin: 0;
    padding: 2px 12px !important;
    font-size: 12px;
    line-height: 1.25;
    z-index: 0;    
}
.mobile {
    display: none !important;
}
.opacity {
    opacity: 0;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.slick-prev:before, .slick-next:before {
    font-size: 50px !important;
}
.slick-prev {
    left: 60px !important;
    width: 50px !important;
    height: 50px !important;
    z-index: 9;
}
.slick-next {
    right: 60px !important;
    width: 50px !important;
    height: 50px !important;
}
@media only screen and (max-width: 991px) {
    .desktop {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }
}