.btn-hour {
	position: relative;
    text-align: left;
    background-color: #fff;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.25;
    z-index: 0;
}